<h1>Sansoen Phra Barami</h1>
<p>
Kha Wora Phuttha Chao
</p>
<p>
Ao Mano Lae Sira Kran
</p>
<p>
Nop Phra Phummi Ban Bunya Direk
</p>
<p>
Ek Boromma Chakkrin
</p>
<p>
Phra Sayamin
</p>
<p>
Phra Yotsa Ying Yong
</p>
<p>
Yen Sira Phro Phra Bori Ban
</p>
<p>
Phon Phra Khun Tha Raksa
</p>
<p>
Puang Pracha Pen Sukkha San
</p>
<p>
Kho Bandan
</p>
<p>
Tha Prasong Dai
</p>
<p>
Chong Sarit Dang
</p>
<p>
Wang Wora Haruethai
</p>
<p>
Ducha Thawai Chai Chayo
</p>
